@use '../../styles/vars';

.quizz {
    background-image: url("../../assets/img-background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 100px;

    &_container {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: vars.$main-color;
        padding: 60px 10px;
        border-radius: 15px;
        box-shadow: 0px 10px 50px -10px #d6d6d636;

        &_title {
            text-align: center;
            color: white;

            & h6 {
                font-size: 1.3em;
                margin-bottom: 40px;
            }

            & h3 {
                font-size: 2.2em;
                margin-bottom: 40px;
            }

            & h4 {
                margin-bottom: 20px;
            }
        }

        &_questions {
            background-color: vars.$secondaryColor;
            border-radius: 15px;
            max-width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            font-family: 'Bangers', cursive;

            &_question {
                background-color:#C3B091;
                border-radius: 15px;
                margin: 20px;
                padding: 30px 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & p {
                    font-size: 1.2em;
                    padding-bottom: 20px;
                }

                & button {
                    font-family: 'Montserrat', sans-serif;
                    margin: 5px;
                    background-color: white;
                    color: black;
                    border: 2px solid transparent;
                    text-decoration: none;
                    padding: 10px 30px;
                    border-radius: 30px;
                    font-size: 17px;
                    font-weight: bold;
                }

                & button:hover {
                    background-color: transparent;
                    border: 2px solid #ffcc74;
                    color: black;
                    transition: .4s;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .quizz_container {
        margin: 0 -90px;

        &_title h6 {
            font-size: 1em;
        }

        &_title h3 {
            font-size: 1.9em;
        }

        &_questions {
            padding: 0;

            & p {
                font-size: 0.9em;
            }

            & button {
                font-size: 0.7em;
            }
        }
    }
}