.contact {
    background-color: #161922;
    width: 100%;
    height: 100vh;
    padding: 100px;

    &_container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 60px 10px;
        border-radius: 15px;
        box-shadow: 0px 10px 50px -10px #d6d6d636;

        &_title {
            text-align: center;
            
            & h6 {
                font-size: 1em;
                margin-bottom: 20px;
            }

            & h3 {
                font-size: 2.2em;
                margin-bottom: 40px;
            }
        }

        &_modal {
            background-color: #161922;
            margin: 60px auto;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-radius: 15px;
            color: white;

            & h2 {
                margin-top: 10px;
            }

            & button {
                background-color: #ffcc74;
                color: black;
                border: 2px solid transparent;
                text-decoration: none;
                padding: 10px 30px;
                border-radius: 30px;
                font-size: 17px;
                font-weight: bold;
                font-family: 'Josefin Sans', sans-serif;
                margin: 10px auto 0;
            }

            & button:hover {
                transform: scale(1.2);
                background-color: transparent;
                border: 2px solid #ffcc74;
                color: white;
                transition: .4s;
                cursor: pointer;
            }
        }

        & form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 600px;

            & input {
                width: 47%;
            }

            & textarea {
                width: 100%;
                resize: none;
                height: 100px;
            }

            & input, & textarea {
                margin: 15px 0;
                padding: 10px;
                box-sizing: border-box;
                border: none;
                outline: none;
                border-bottom: 2px solid #e4e4ec;
                transition: 0.2s;
                font-family: 'Josefin Sans', sans-serif;
            }

            & input:hover, & textarea:hover {
                border-bottom: 2px solid #ffcc74;
            }

            & button {
                background-color: #ffcc74;
                color: black;
                border: 2px solid transparent;
                text-decoration: none;
                padding: 10px 30px;
                border-radius: 30px;
                font-size: 17px;
                font-weight: bold;
                font-family: 'Josefin Sans', sans-serif;
                margin: 40px auto 0;
            }

            & button:hover {
                transform: scale(1.2);
                background-color: transparent;
                border: 2px solid #ffcc74;
                color: black;
                transition: .4s;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .contact_container {
        margin: 0 -70px;
    
        & form {
        flex-direction: column;
        width: 95%;

        & input {
            width: 100%;
        }
        }
    }
}

@media screen and (max-width: 300px) {
    .contact {
        padding: 80px;

        &_container_modal {
            margin: 60px 10px;
        }
    }
}